@using CookStack.Client.Components.Shared
@using CookStack.Client.Components.Sort
@using CookStack.Client.Constants
@using CookStack.Client.Enums
@using CookStack.Client.Models.Sort
@using CookStack.Client.Services
@using CookStack.Shared.Recipes.Dtos


@page "/recipes"

@implements IDisposable

@inject RecipeApiClient RecipesApi
@inject LoadingService LoadingService
@inject NavigationManager NavManager
@inject BrowserTitleService TitleService
@inject KeyboardShortcutService KeyboardShortcutService
@inject SortStateService SortStateService


<ConfirmDialog @ref="confirmDialog" 
	Title="Delete recipe"
	Message="Are you sure you want to delete this recipe?"
	OnConfirm="ConfirmDelete" />


@if (recipes != null)
{
	<div class="page-header">
		<div>
			<h3>Recipes</h3>
			<p class="page-subtitle">Manage your recipes.</p>
		</div>

		<button class="btn btn-cs-primary" @onclick="AddRecipe">
			+ Add recipe
		</button>
	</div>

	<div class="page-toolbar">
		<input class="form-control-mb-3"
			   placeholder="Search recipes..."
			   @bind="searchTerm"
			   @oninput="OnSearchChanged" />

		<SortDropdown TSortField="RecipeSortField"
					  SortOptions="@sortOptions"
					  OnChanged="OnSortChanged" />
	</div>

	<hr/>

	if(recipes.Count > 0)
	{
		<div class="recipe-grid">
			@for(int i = 0; i < recipes.Count; i++)
			{
				var recipe = recipes[i];

				<div class="recipe-card @(selectedIndex == i ? "selected" : "")">
					<div class="recipe-card-body" @onclick="() => GoToDetails(recipe.Id)">
						<h5>@recipe.Title</h5>

						<p class="text-muted">
							Created: @recipe.CreatedAt.ToString("dd.MM.yyyy")
						</p>

						@if(recipe.LastVisitedAt != null)
						{
							<p class="text-muted">
								Last visited: @recipe.LastVisitedAt.Value.ToString("dd.MM.yyyy HH:mm")
							</p>
						}
					</div>
					
					<div class="recipe-card-actions">
						<button class="btn btn-cs-secondary btn-sm" @onclick="() => UpdateRecipe(recipe.Id)">
							Edit
						</button>
						<button class="btn btn-cs-danger btn-sm" @onclick="() => AskDelete(recipe.Id)">
							Delete
						</button>
					</div>
				</div>
			}
		</div>
	}
	else
	{
		@if (!string.IsNullOrWhiteSpace(searchTerm))
		{
			<p>No results found for: <b>@searchTerm</b></p>
		}
		else
		{
			<p>There are currently no added recipes</p>
		}
	}
}

@code {
	private List<RecipeListDto>? recipes;

	private ConfirmDialog? confirmDialog;
	private int deleteId;

	private string searchTerm = "";

	private int selectedIndex = -1;


	private SortOptions<RecipeSortField> sortOptions =
		new()
		{
			Field = RecipeSortField.CreatedAt,
			Direction = SortDirection.Descending
		};

	protected override void OnInitialized()
	{
		sortOptions = SortStateService.RecipeSort;

		KeyboardShortcutService.OnArrowDown += MoveDown;
		KeyboardShortcutService.OnArrowUp += MoveUp;
		KeyboardShortcutService.OnEnter += HandleEnter;
		KeyboardShortcutService.OnMouseDown += ClearSelection;
	}

	protected override async Task OnInitializedAsync()
	{
		await LoadingService.RunWithLoading(async () =>
		{
			await LoadRecipes(true);
		}, "Loading recipies...");

	}

	private async Task OnSearchChanged(ChangeEventArgs e)
	{
		searchTerm = e.Value?.ToString() ?? "";
		await LoadRecipes();
	}

	private async Task LoadRecipes(bool firstLoad = false)
	{
		ClearSelection();

		recipes = await RecipesApi.GetRecipesAsync(searchTerm);
		
		ApplySorting();

		if (firstLoad)
			await TitleService.SetTitle("Recipe list");
	}

	private void GoToDetails(int id)
	{
		NavManager.NavigateTo(string.Format(Routes.Recipes.RecipeDetails, id));
	}

	private void AddRecipe()
	{
		NavManager.NavigateTo(Routes.Recipes.RecipeCreate);
	}

	private void UpdateRecipe(int id)
	{
		NavManager.NavigateTo(string.Format(Routes.Recipes.RecipeUpdate, id));
	}

	private void AskDelete(int id)
	{
		deleteId = id;
		confirmDialog?.Show();
	}

	private async Task ConfirmDelete()
	{
		await DeleteRecipe(deleteId);
	}

	private async Task DeleteRecipe(int id)
	{
		if (recipes == null)
			return;

		var recipe = recipes.FirstOrDefault(r => r.Id == id);

		if (recipe == null)
			return;

		recipes.Remove(recipe);

		try
		{
			await RecipesApi.DeleteRecipeAsync(id);
		}
		catch (Exception ex)
		{
			recipes.Add(recipe);
			Console.Error.WriteLine(ex);

		}
	}

	private Task OnSortChanged(SortOptions<RecipeSortField> newOptions)
	{
		SortStateService.RecipeSort = newOptions;
		sortOptions = newOptions;

		ApplySorting();

		return Task.CompletedTask;
	}

	private void ApplySorting()
	{
		if (recipes == null)
			return;

		recipes = SortRecipeList(recipes);

		StateHasChanged();
	}

	private List<RecipeListDto> SortRecipeList(List<RecipeListDto> lists)
	{
		return sortOptions.Field switch
		{
			RecipeSortField.Title =>
				sortOptions.Direction == SortDirection.Ascending
					? lists.OrderBy(r => r.Title).ToList()
					: lists.OrderByDescending(r => r.Title).ToList(),
			RecipeSortField.CreatedAt =>
				sortOptions.Direction == SortDirection.Ascending
					? lists.OrderBy(r => r.CreatedAt).ToList()
					: lists.OrderByDescending(r => r.CreatedAt).ToList(),
			RecipeSortField.RecentlyVisited =>
				sortOptions.Direction == SortDirection.Ascending
					? lists.OrderBy(r => r.LastVisitedAt ?? DateTime.MinValue).ToList()
					: lists.OrderByDescending(r => r.LastVisitedAt ?? DateTime.MinValue).ToList(),

			_ => lists
		};
	}

	private void MoveDown()
	{
		if (recipes == null)
			return;

		if (KeyboardShortcutService.IsModalOpen)
			return;

		if (selectedIndex < recipes.Count - 1)
		{
			selectedIndex++;
			StateHasChanged();
		}
	}

	private void MoveUp()
	{
		if (recipes == null)
			return;

		if(selectedIndex > 0)
		{
			selectedIndex--;
			StateHasChanged();
		}
	}

	private void HandleEnter()
	{
		if (selectedIndex < 0 || recipes == null)
			return;

		GoToDetails(recipes[selectedIndex].Id);
	}

	private void ClearSelection()
	{
		selectedIndex = -1;
		StateHasChanged();
	}

	public void Dispose()
	{
		KeyboardShortcutService.OnArrowDown -= MoveDown;
		KeyboardShortcutService.OnArrowUp -= MoveUp;
		KeyboardShortcutService.OnEnter -= HandleEnter;
		KeyboardShortcutService.OnMouseDown -= ClearSelection;
	}
}
