@using CookStack.Client.Constants
@using CookStack.Client.Models.UI
@using CookStack.Client.Services
@using CookStack.Shared.Recipes.Dtos

@page "/recipe/{id:int}"
@inject RecipeApiClient RecipesApi
@inject LoadingService LoadingService
@inject BrowserTitleService TitleService;
@inject NavigationManager NavManager;

<ShoppingListFromRecipeModal @ref="shoppingListModal" OnSaved="ReloadList" OnClose="SetTitleName" />

@if(recipeDto != null)
{
	<div class="page-top">

		@if (!string.IsNullOrWhiteSpace(recipeDto.ImagePath))
		{
			<img class="recipe-details-image"
				 src="@RecipesApi.GetImageUrl(recipeDto.ImagePath)"
				 alt="@recipeDto.Title" />
		}
		else
		{
			<div class="recipe-image-placeholder">
				No image
			</div>
		}

		<div class="page-header">
			<div>
				<h3>@recipeDto.Title</h3>
				<p class="page-subtitle">@recipeDto.Description</p>
			</div>

			<button class="btn btn-cs-secondary btn-with-icon" @onclick="GoToEdit">
				<span class="bi bi-pencil"></span>
				Edit
			</button>
		</div>
	</div>

	<div class="details-actions">
		<button class="btn btn-cs-primary btn-with-icon" @onclick="AddShoppingList">
			<span class="bi bi-cart-plus bi-invert"></span>
			Add ingredients to list
		</button>
	</div>

	
	<section class="details-card">
		<div class="section-title">
			<h4>Ingredients (@ingredients.Count())</h4>
		</div>

		<div class=details-list> 
			@foreach (var item in ingredients)
			{
				<label class="details-list-item @(item.IsChecked ? "ingredient-checked" : "")">
					<input type="checkbox" class="cs-checkbox" @bind="item.IsChecked"/>

					<span class="details-item-name">@item.Ingredient.Name</span>

					<span class="details-item-meta">
						@item.Ingredient.Quantity @item.Ingredient.Unit
					</span>
				</label>
			}
		</div>
	</section>

	<section class="details-card">
		<div class="section-title">
			<h4>Steps (@steps.Count())</h4>
		</div>
	
		<div class="steps-list">
			@foreach (var item in steps)
			{
				<div class="step-card @(item.IsChecked ? "step-checked" : "")">
					<label class="step-header">
						<input type="checkbox" @bind="item.IsChecked" />
						<strong>Step @item.Step.Order</strong>
					</label>

					<p>@item.Step.Description</p>
				</div>
			}
		</div>
	</section>

	@if (!string.IsNullOrWhiteSpace(recipeDto.SourceUrl))
	{
		<p>
			Source:
			<a class="source-link" href="@recipeDto.SourceUrl" target="_blank">
				@recipeDto.SourceUrl
			</a>
		</p>
	}
}

@code {
	[Parameter]
	public int Id { get; set; }
	private RecipeDetailsDto? recipeDto;
	private const string StepConst = "Krok";

	private ShoppingListFromRecipeModal? shoppingListModal;

	private List<IngredientUiWrapper> ingredients = new();
	private List<StepsUiWrapper> steps = new();

	protected override async Task OnParametersSetAsync()
	{
		await LoadingService.RunWithLoading(async () =>
		{
			var loaded = await ReloadList();

			if(loaded)
				await RecipesApi.MarkRecipeAsVisitedAsync(Id);

		}, "Wczytywanie przepisu");
	}

	private async Task<bool> ReloadList()
	{
		recipeDto = await RecipesApi.GetRecipeByIdAsync(Id);

		if (recipeDto == null)
			return false;

		await SetTitleName();

		ingredients = recipeDto.Ingredients
		.Select(i => new IngredientUiWrapper { Ingredient = i })
		.ToList();

		steps = recipeDto.Steps.Select(s => new StepsUiWrapper { Step = s })
		.OrderBy(s => s.Step.Order)
		.ToList();

		return true;
	}

	private void AddShoppingList()
	{
		if(recipeDto != null)
			shoppingListModal?.Open(recipeDto);
	}

	private async Task SetTitleName()
	{
		if(recipeDto != null)
		{
			await TitleService.SetTitle(recipeDto.Title);
		}
	}

	private void GoToEdit()
	{
		NavManager.NavigateTo(string.Format(Routes.Recipes.RecipeUpdate, Id));
	}
}
