@using CookStack.Client.Models.UI
@using CookStack.Client.Components.ShoppingList
@using CookStack.Client.Services
@using CookStack.Shared.Recipes.Dtos

@page "/recipe/{id:int}"
@inject RecipesApiClient RecipesApi
@inject LoadingService LoadingService

<PageTitle>Recipe Details</PageTitle>

<ShoppingListFromRecipeModal @ref="shoppingListModal" OnSaved="ReloadList" />

@if(recipeDto != null)
{
	<h2><b>@recipeDto.Title</b></h2>

	<br />
	<p>@recipeDto.Description</p>

	<br />
	<p><b> Składniki na @recipeDto.Title:</b></p>

	<table class="table table-sm">
		@foreach (var item in ingredients)
		{
			<tr class="@(item.IsChecked ? "ingredient-checked" : "")">
				<td><input type="checkbox" @bind="item.IsChecked"></td>
				<td>@item.Ingredient.Name</td>
				<td>@item.Ingredient.Quantity @item.Ingredient.Unit</td>
			</tr>
		}
	</table>

	<button class="btn btn-primary d-flex align-items-center" @onclick="AddShoppingList"><span class="bi bi-cart-plus"></span> Add ingredients to list</button>

	<br/>

	@foreach (var item in steps)
	{
		<hr class="border-2" />
		<p><b><input type="checkbox" @bind="item.IsChecked"> @StepConst @item.Step.Order:</b></p>
		<div class="@(item.IsChecked ? "step-checked" : "")">
			<p>@item.Step.Description</p>
		</div>
		
	}

	<br/>
	<p>Source: @recipeDto.SourceUrl</p>
}

@code {
	[Parameter]
	public int Id { get; set; }
	private RecipeDetailsDto? recipeDto;
	private const string StepConst = "Krok";

	private ShoppingListFromRecipeModal? shoppingListModal;

	private List<IngredientUiWrapper> ingredients = new();
	private List<StepsUiWrapper> steps = new();

	protected override async Task OnParametersSetAsync()
	{
		await LoadingService.RunWithLoading(async () =>
		{
			await ReloadList();
		}, "Wczytywanie przepisu");
	}

	private async Task ReloadList()
	{
		recipeDto = await RecipesApi.GetRecipeByIdAsync(Id);
		if (recipeDto != null)
		{
			ingredients = recipeDto.Ingredients
			.Select(i => new IngredientUiWrapper { Ingredient = i })
			.ToList();

			steps = recipeDto.Steps.Select(s => new StepsUiWrapper { Step = s })
			.OrderBy(s => s.Step.Order)
			.ToList();
		}
	}

	private void AddShoppingList()
	{
		if(recipeDto != null)
			shoppingListModal?.Show(recipeDto);
	}
}
