@using CookStackClient.Services
@using CookStackShared.Enums
@using CookStackShared.ShoppingList.Dtos

@page "/shopping-list/{id:int}"
@inject ShoppingListApiClient ShoppingListApi

<PageTitle>Shopping List</PageTitle>

@if (IsOpen)
{
	<div class="modal-backdrop fade show"></div>

	<div class="modal fade show d-block" tabindex="-1" @onclick="Close">
		<div class="modal-dialog" @onclick:stopPropagation="true">
			<div class="modal-content">
				<div class="modal-body">
					@if (shoppingListDto != null)
					{
						@if(!IsEditMode)
						{
							<h2><b>@shoppingListDto.Title</b></h2>
						}
						else
						{
							<input class="form-control mb-1"
								   @bind="shoppingListDto.Title"
								   @onkeydown="HandleKey"
										@ref="titleInput" />
						}

						@if(!IsEditMode)
						{
							<p>@shoppingListDto.Description</p>
						}
						else
						{
							<InputTextArea class="form-control mb-2"
										   @bind-Value="shoppingListDto.Description"
										   @onkeydown="HandleKey" />
						}


						@if (!string.IsNullOrWhiteSpace(shoppingListDto.Description))
						{
							<hr />
						}
						

						<table class="table table-sm">

							@if(!IsEditMode)
							{
								@foreach (var item in shoppingListDto.Items.Where(i => !i.IsChecked))
								{
									<tr @key="item">
										<td>
											<input type="checkbox"
												checked = "@item.IsChecked"
												   @onchange="(e) => ToggleItem(item, (bool)e.Value!)" />
										</td>
										<td>@item.Name</td>
										<td>@item.Quantity @item.Unit</td>
									</tr>
								}

								@if (shoppingListDto.Items.Any(i => i.IsChecked) && shoppingListDto.Items.Any(i => !i.IsChecked))
								{
									<tr>
										<td colspan="3"><hr/></td>
									</tr>
								}

								@foreach (var item in shoppingListDto.Items.Where(i => i.IsChecked))
								{
									<tr @key="item">
										<td>
											<input type="checkbox"
												   checked="@item.IsChecked"
												   @onchange="(e) => ToggleItem(item, (bool)e.Value!)" />
										</td>
										<td class="text-decoration-line-through text muted">@item.Name</td>
										<td>@item.Quantity @item.Unit</td>
									</tr>
								}

							}
							else
							{
								@foreach (var item in shoppingListDto.Items)
								{
									<tr @key="item">
										<td class="d-flex gap-1 mb-1" @key="item">
											<InputCheckbox @bind-Value="item.IsChecked" @onkeydown="HandleKey" />
											<InputText class="form-control" placeholder="Item name" @bind-Value="item.Name" @onkeydown="HandleKey" />
											<InputNumber class="form-control" placeholder="Quantity" @bind-Value="item.Quantity" @onkeydown="HandleKey" TValue="decimal" />
											<InputSelect class="form-control" placeholder="Unit" @bind-Value="item.Unit" @onkeydown="HandleKey">
												@foreach (var unit in Enum.GetValues<UnitType>())
												{
													<option value="@unit">@unit</option>
												}
											</InputSelect>
											<button type="button" class="btn btn-danger" @onclick="() => RemoveShoppingItem(item)">X</button>
										</td>

									</tr>
								}
							}
						</table>
						@if (IsEditMode)
						{
							<button type="button" class="btn btn-secondary mb-2" @onclick="AddShoppingItem">Add item</button>
						}
					}
					else
					{
						<p>Loading...</p>
					}
				</div>
				<div class="modal-footer">
					@if(!IsEditMode)
					{
						<button type="button" class="btn btn-primary" @onclick="EnableEdit">Update</button>
					}
					else
					{
						<button class="btn btn-success" @onclick="Save">
							Save
						</button>

						<button class="btn btn-secondary" @onclick="CancelEdit">
							Cancel
						</button>
					}
					<button type="button" class="btn btn-secondary" @onclick="Close">Close</button>
				</div>
			</div>
		</div>
	</div>
}


@code {

	[Parameter] public EventCallback OnUpdated { get; set; }

	private int Id { get; set; }
	private ShoppingListBaseDto? shoppingListDto;

	private ElementReference titleInput;

	private bool IsOpen;
	private bool IsEditMode = false;

	public async Task Show(int id)
	{
		Id = id;
		IsOpen = true;
		IsEditMode = false;

		shoppingListDto = await ShoppingListApi.GetShoppingListByIdAsync(Id);
		StateHasChanged();
	}

	private async Task EnableEdit()
	{
		if (shoppingListDto != null)
		{
			shoppingListDto = new ShoppingListUpdateDto
			{
				Title = shoppingListDto.Title,
				Description = shoppingListDto.Description,
				Items = shoppingListDto.Items.ToList()
			};
		}
		else
		{
			shoppingListDto = new ShoppingListUpdateDto();
		}

		IsEditMode = true;
		await Task.Yield();
		await titleInput.FocusAsync();
	}

	private void AddShoppingItem()
	{
		if (shoppingListDto == null)
			return;

		var maxOrder = shoppingListDto.Items
			.Select(i => i.Order)
			.DefaultIfEmpty(0)
			.Max();

		shoppingListDto.Items.Add(new ShoppingItemDto
		{
			Order = maxOrder +1
		});
	}
	private void RemoveShoppingItem(ShoppingItemDto item) => shoppingListDto?.Items.Remove(item);

	private async Task ToggleItem(ShoppingItemDto item, bool value) 
	{
		item.IsChecked = value;

		if(item.IsChecked)
		{
			var maxCompleted = shoppingListDto == null ? 0 : shoppingListDto.Items
				.Where(i => i.IsChecked)
				.Select(i => i.Order)
				.DefaultIfEmpty(0)
				.Max();

			item.Order = maxCompleted + 1;
		}
		else
		{
			var maxActive = shoppingListDto == null ? 0 : shoppingListDto.Items
				.Where(i => !i.IsChecked)
				.Select(i => i.Order)
				.DefaultIfEmpty(0)
				.Max();

			item.Order = maxActive + 1;
		}

		SortItems();

		if(shoppingListDto != null)
		{
			await ShoppingListApi.UpdateShoppingListAsync(Id, new ShoppingListUpdateDto
			{
				Title = shoppingListDto.Title,
				Description = shoppingListDto.Description,
				Items = shoppingListDto.Items.ToList()
			});
		}
	}

	private void SortItems()
	{
		shoppingListDto?.Items = shoppingListDto.Items.
		OrderBy(i => i.IsChecked)
		.ThenBy(i => i.Order)
		.ToList();
	}

	private async Task HandleKey(KeyboardEventArgs e)
	{
		if (e.Key == "Enter")
			await Save();

		if (e.Key == "Escape")
			await CancelEdit();
	}

	private async Task Save()
	{
		if (shoppingListDto is ShoppingListUpdateDto updateDto)
			await ShoppingListApi.UpdateShoppingListAsync(Id, updateDto);

		if(IsEditMode)
			await ExitEditMode();

		await OnUpdated.InvokeAsync();
	}


	private async Task CancelEdit()
	{
		await ExitEditMode();
	}

	private async Task ExitEditMode()
	{
		shoppingListDto = await ShoppingListApi.GetShoppingListByIdAsync(Id);

		SortItems();

		IsEditMode = false;
	}

	public void Close() => IsOpen = false;
}
